:root {
    /* prelim color palette based off of productivity psychology*/
    --yellow: #ffe74c;
    --red: #ff5964;
    --white: #ffffff;
    --dark-blue: #38618c;
    --blue: #35a7ff;
    --graphite: #41424C;
    /* perhaps future implementation/adaptation to light/dark mode */
    font-family: "dreaming-outloud-sans",Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header h1 {
    display: flex;
    margin-left: 30px;
    color: var(--graphite);
}

#navigation {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    .h1 {
        display: flex;
        margin-left: 40px;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.note-container {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80vw;
    height: 70vw;
    max-height: 70vh;
    max-width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-entry-bar {
    display: block;
    width: 85%;
    outline: none;
    font-size: 16px;
    padding: 5px;
    white-space: pre-wrap;
    animation: blink-caret 1s step-end infinite;
    overflow: hidden;
}


@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
